:root {
  --grid-size: 48px;
  --font-size: 16px;
}

body {
  height: 100vh;
  display: flex;
  margin: 0;
  flex-direction: column;
  align-items: center;
}

table {
  margin: auto;
  border-collapse: collapse;
}

td {
  width: var(--grid-size);
  height: var(--grid-size);
  border: solid 1px black;
  text-align: center;
  font-size: var(--font-size);
}

td.invalid {
  color: red;
}

td.border-top {
  border-top: solid 2px black;
}

td.border-bottom {
  border-bottom: solid 2px black;
}

td.border-left {
  border-left: solid 2px black;
}

td.border-right {
  border-right: solid 2px black;
}

span {
  margin: auto;
  font-size: larger;
}

button {
  margin: 10px;
}
